extends ../../shared/layoutAdmin

block content
  form(action = "/admin/users/login", method = "POST")
    .form-group
      label(for='exampleInputEmail1') Email address
      input#exampleInputEmail1.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='Enter email')
    .form-group
      label(for='exampleInputPassword1') Password
      input#exampleInputPassword1.form-control(type='password' name='pass' placeholder='Password')
    button.btn.btn-primary(type='submit') Submit
    p(style='color:red') #{message}
