extends ../../shared/layoutAdmin

block content
    .container-fluid.contenedor.contenedorVista
        .card
            .card-header
                .row
                    .col-md-10
                        h4 Crear Fragancia
                    .col-md-2
                        a.btn.btn-light(type='button' href='/admin/fragancia/grilla') 
                            i.fas.fa-arrow-left
                             | Volver
            .card-body
                form(action = "/admin/fragancia/create", method = "POST")
                    .form-group
                    label(for='exampleInputEmail1') Nombre
                    input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Nombre' name='name' value= fragancia!=''?fragancia.name:'')
                    button.btn.btn-primary(type='submit') Submit
                    p(style='color:red') #{message}