extends ../../shared/layoutAdmin

block content
  .container-fluid.contenedor.contenedorVista
    .card
      .card-header
        .row
          .col-md-10
            h4 Lista de Fragancia
          .col-md-2
            a.btn.btn-light(type='button' href='/admin/fragancia/create')
             i.fas.fa-plus-square 
              | Crear Fragancia
      .card-body
        table#example.display(style='width:100%')
          thead
            tr
              th Id
              th Nombre
              th Acciones      
          tfoot
            tr
              th Id      
              th Nombre
              th Acciones        
  script(src="/javascripts/fragancia/datatableFragancia.js")